html {
  background-color: #E9BD8A;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.app-header {
  background-color: #9A62B9 !important;
  height: 150px;
  padding: 20px;
  color: white;
}

#userImage {
  border-radius: 50%;
}

.logo {
  font-size: 100px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#mainImage {
  border-radius: 50px;
}
// Stroke animation
// body {
//   margin: 0;
//   padding: 0;
//   background: rgba(255, 255, 255, 1);
// }
.left {
  width: 100%;
  height: 15px;
  position: absolute;
  background: linear-gradient(
    to left,
    #fd96aa,
    #fdc996,
    #fafa61 38px,
    #96fd96 67%,
    #96d3fd,
    #9696fd,
    #c996fd
  );
  top: 140px;
  left: 0%;
  transform: translate(0%, 0%);
  box-shadow: unset;
}
.left:before {
  content: "";
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #E9BD8A !important;
  animation: line 55s linear infinite;
}
.left:after {
  content: "\f1fc";
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: -1%;
  width: -100%;
  height: 100%;
  // background: rgba(255, 255, 255, 1);
  animation: line 55s linear infinite;
  color: #7c259e;
  font-size: 50px;
  transform: translateY(-36px);
  animation-timing-function: cubic-brezier(0.75, 0.84, 0, 0.86);
}
@keyframes line {
  0% {
    left: 100;
  }
  99% {
    left: 99%;
  }
  100% {
    left: 100;
  }
}

// Lobby

.lobby_main_div, .arena_name_div, .button_div {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

// Status

.status_main_div, .player_status_div, .button_div, .gallery {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

// Vote

.vote_main_div, .vote_message, .button_div {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;

  .option_one, .option_two {
    display: flex;
    flex-direction: column;
  }
}

// Winner

.winner_message {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.winner_gallery {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

// Drawing

.draw_main_div, #paint-app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25px;

  .canvas {
    margin-left: auto;
    margin-right: auto;
  }
}